# PostgreSQL Database
POSTGRES_DB=wiki
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Django Backend
SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
BACKEND_PORT=8000

# Django Superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin

# Frontend
FRONTEND_PORT=4200
FRONTEND_DOCKERFILE=Dockerfile.dev
NODE_ENV=development

